<main class="flex items-center justify-center min-h-screen">
  <div class="grid game">
    <%= for y <- 1..9, x <- 1..9 do %>
      <div class="inline-flex items-center justify-center w-16 h-16 <%= border_classes(x, y) %>">
        <%= case Sudoku.get(@game, x, y) do %>
        <% 0 -> %>
        <% number -> %> <%= number %>
        <% end %>
      </div>
    <% end %>
  </div>
</main>
